<div class="w-full max-w-4xl lg:max-w-5xl">
  <div class="flex flex-col gap-y-3 p-6 mt-6 mx-2 md:mx-0 rounded-lg shadow-md bg-white dark:bg-gray-700">
    <h1 class="text-4xl font-semibold text-slate-800 dark:text-slate-100">
      Personal Page of Dzmitry Hramyka
    </h1>
    <img src="https://source.unsplash.com/dCgbRAQmTQA" alt="Space Shuttle Challenger Launches from Kennedy Space Center" class="w-full h-auto rounded-t-lg">
    <div class="mt-3">
      <h3 class="text-3xl font-semibold text-slate-800 dark:text-slate-100">
        Welcome to My Personal Space
      </h3>
      <p class="text-lg md:mx-0 dark:text-slate-100">
        Welcome to my personal space on the web. I am a bioinformatician with a keen interest in Machine Learning (ML) 
        and Artificial Intelligence (AI), dedicated to exploring the intersections of biology and technology. 
        My journey in bioinformatics has led me to develop a profound understanding of how data can be harnessed to unravel 
        the complexities of biological systems, using the power of computational tools and algorithms.
      </p>
      <p class="text-lg md:mx-0 dark:text-slate-100">
        On this website, you'll find detailed insights into my professional background, including my education, work experience, 
        and the skills I've honed over the years. The 'About me' section provides a deeper look into my journey, highlighting my 
        academic achievements and practical experiences in bioinformatics, ML, and AI.
      </p>
      <p class="text-lg md:mx-0 dark:text-slate-100">
        The 'Projects' section showcases a portfolio of my work, featuring various applications and research projects where I've 
        applied my expertise in bioinformatics and computational algorithms to solve real-world problems. It's a testament to my 
        commitment to advancing the field and contributing meaningful innovations.
      </p>
    </div>
    <div>
      <h3 class="text-3xl font-semibold text-slate-800 dark:text-slate-100">
        Discover My Blog
      </h3>
      <p class="text-lg md:mx-0 dark:text-slate-100">
        I also maintain a blog where I share my thoughts, insights, and experiences. It's not only a way for me to express my
        passion for bioinformatics and technology but also a platform for my thoughts on life and the world around us.
      <p class="text-lg md:mx-0 dark:text-slate-100">
        <a href="/posts" class="text-emerald-600 hover:text-emerald-800">Visit the Blog →</a>
      </p>
    </div>
    <div>
      <h3 class="text-3xl font-semibold text-slate-800 dark:text-slate-100">
        Visit Me on GitHub
      </h3>
      <p class="text-lg md:mx-0 dark:text-slate-100">
        Visit me on GitHub to see more of my projects and contributions to the open-source community:
        <p class="text-lg md:mx-0 dark:text-slate-100">
          <a href="https://github.com/gromdimon/" class="text-emerald-600 hover:text-emerald-800">Visit my github →</a>
        </p>
      </p>
    </div>
  </div>
</div>
