<div class="w-full max-w-4xl lg:max-w-5xl">
  <div class="flex flex-col gap-y-3 p-6 mt-6 mx-2 md:mx-0 rounded-lg shadow-md bg-white dark:bg-gray-700">
    <h1 class="text-4xl font-semibold text-slate-800 dark:text-slate-100">
      Personal Page of Dzmitry Hramyka
    </h1>
    <img src="https://source.unsplash.com/dCgbRAQmTQA" alt="Space Shuttle Challenger Launches from Kennedy Space Center" class="w-full h-auto rounded-t-lg">
    <p class="text-lg md:mx-0 dark:text-slate-100">
      Welcome to my personal space on the web. I am a bioinformatician with a keen interest in Machine Learning (ML) 
      and Artificial Intelligence (AI), dedicated to exploring the intersections of biology and technology. 
      My journey in bioinformatics has led me to develop a profound understanding of how data can be harnessed to unravel 
      the complexities of biological systems, using the power of computational tools and algorithms.
    </p>
    <p class="text-lg md:mx-0 dark:text-slate-100">
      On this website, you'll find detailed insights into my professional background, including my education, work experience, 
      and the skills I've honed over the years. The 'About me' section provides a deeper look into my journey, highlighting my 
      academic achievements and practical experiences in bioinformatics, ML, and AI.
    </p>
    <p class="text-lg md:mx-0 dark:text-slate-100">
      The 'Projects' section showcases a portfolio of my work, featuring various applications and research projects where I've 
      applied my expertise in bioinformatics and computational algorithms to solve real-world problems. It's a testament to my 
      commitment to advancing the field and contributing meaningful innovations.
    </p>
    <p class="text-lg md:mx-0 dark:text-slate-100">
      If you wish to get in touch or learn more about my work, the 'Contact' section provides information on how to connect with me. 
      I'm always open to discussing new ideas, opportunities for collaboration, or just engaging in insightful conversations about 
      the fascinating world of bioinformatics and technology.
    </p>
    <p class="text-lg md:mx-0 dark:text-slate-100">
      Visit me on GitHub to see more of my projects and contributions to the open-source community: 
      <a href="https://github.com/gromdimon/">https://github.com/gromdimon/</a>.
    </p>
  </div>
</div>
